.b-error {
  position: relative;
  padding-top: 37px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 142px - 40px - 94px);

  @include bp($bp-ipad-1024) {
    height: calc(100vh - 110px - 40px - 70px);
    height: calc(var(--vh, 1vh) * 100 - 110px - 40px - 70px);
  }
  @include bp($bp-640) {
    height: calc(100vh - 178px - 20px - 70px);
    height: calc(var(--vh, 1vh) * 100 - 178px - 20px - 70px);
  }

  @include bp($bp-540) {
    padding-top: 10px;
    height: calc(100vh - 178px - 20px - 38px - 27px);
    height: calc(var(--vh, 1vh) * 100 - 178px - 20px - 38px - 27px);
  }
}

.b-error__center {

}
.b-error__img {
  position: relative;
  z-index: 0;

  @include bp($bp-640) {
    padding: 0 20px;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    max-height: 560px;

    @include bp($bp-custom-height-4) {
      max-height: 460px;
    }

    @include bp($bp-custom-height-2) {
      max-height: 360px;
    }

    @include bp($bp-custom-height-5) {
      max-height: 320px;
    }


    @include bp($bp-custom-height-3) {
      max-height: 240px;
    }

    @include bp($bp-640) {
      max-width: 190px;
    }

    @include bp($bp-360) {
      max-height: 120px;
    }
  }
}

.b-error__title {
  margin-top: 30px;
  font-family: $Intro;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  text-align: center;

  @include bp($bp-540) {
    font-size: 22px;
    margin-top: 20px;
  }

  @include bp($bp-360) {
    font-size: 20px;
  }

  span {
    display: none;
  }
}

.b-error__desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: $black-two;
  max-width: 356px;
  margin: 10px auto;

  @include bp($bp-360) {
    font-size: 14px;
    line-height: 22px;
  }
}

.b-error__link {
  display: block;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: #df2604;
}
