.b-footer {
  width: 100%;
  height: 94px;

  @include bp($bp-ipad-1024) {
    height: 70px;
  }

  @include bp($bp-540) {
    height: auto;
  }

  .container {
    height: 100%;
  }
}

.b-footer__wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  @include bp($bp-540) {
    flex-direction: column;
    margin-bottom: 27px;
  }
}

.b-footer__copy {
  position: relative;
  z-index: 10;
  font-size: 14px;
  line-height: 14px;
  color: $black-two;

  @include bp($bp-540) {
    font-size: 12px;
  }
}

.b-footer__link {
  position: relative;
  z-index: 10;
  font-size: 14px;
  line-height: 1;
  color: $black-two;

  @include bp($bp-540) {
    margin-top: 10px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
