.b-header {
  margin-top: 40px;

  @include bp($bp-ipad-1024) {
    margin-top: 30px;
  }

  @include bp($bp-640) {
    margin-top: 20px;
  }

  .container {
    position: relative;
  }
}

.b-header__img-title {
  position: absolute;
  bottom: 0;
  left: 380px;
  padding-right: 20px;
  z-index: 100;

  @include bp($bp-ipad-1024) {
    max-width: 425px;
    left: 330px;

  }

  @include bp($bp-640) {
    position: static;
    max-width: 280px;
    margin: 10px auto 0;
  }
}

.b-header__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.b-header__logo {
  width: 335px;
  height: 140px;
  background-image: url("../images/logo.svg");
  background-size: contain;

  @include bp($bp-ipad-1024) {
    width: 263px;
    height: 110px;
  }
  @include bp($bp-640) {
    position: absolute;
    width: 191px;
    height: 80px;
    top: 72px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.b-header__menu {
  display: flex;
  align-items: center;

  @include bp($bp-640) {
    width: 100%;
    margin-bottom: 110px;
  }
}

.b-header__menu-item {
  position: relative;
  font-size: 14px;
  line-height: 38px;
  padding: 0 14px;
  border: solid 2px transparent;
  font-weight: normal;
  transition: .3s ease-in-out all;

  &:hover {
    color: #df2604;
  }

  &.active {
    border: solid 2px $black;

    &:hover {
      color: $black;
    }
  }
}

.b-header__menu-item--lang {
  margin-left: 10px;
  border: solid 2px $black;
  font-weight: bold;
  width: 42px;
  height: 42px;
  padding: 0;
  text-align: center;
}

.b-header__menu-item--main {
  @include bp($bp-640) {
    font-size: 0;
    line-height: 0;
    padding: 6px;
    &:after {
      content: '';
      display: block;
      @include svg-main;
    }
  }
}

.b-header__menu-item--mobile {
  @include bp($bp-640) {
    margin-left: auto;
  }
}