.b-main-screen__scroll {
  position: absolute;
  bottom: 75px;
  left: -20px;
  font-size: 12px;
  padding-left: 30px;
  transform: rotate(-90deg);
  cursor: pointer;
  z-index: 1000;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -7px;
    top: 0;
    margin: auto;
    @include svg-ico-arrow-down;
    transform: rotate(90deg);
    transition: transform .3s ease-in-out;
    animation: animm 2.5s linear infinite;
  }
}

.b-main-screen__scroll {
  bottom: auto;
  top: calc(100vh - 140px);
}

.b-main-screen__share {
  position: absolute;
  bottom: 30px;
  right: 3px;
  width: 50px;
  height: 50px;
  z-index: 1000;

  @include bp($bp-ipad-1024) {
    position: fixed;
    z-index: 100;
    right: 20px;
  }

  &:hover {
    .b-main-screen__share-list {
      visibility: visible;
    }

    & > .b-main-screen__share-item {
      box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.09);
      background-color: $white;
    }
    .b-main-screen__share-item {
      opacity: 1!important;
      transform: translateY(0) !important;
      transition-delay: .3s;
    }
  }
}

.b-main-screen__share-list {
  position: absolute;
  bottom: 50px;
  display: block;
  visibility: hidden;

  .b-main-screen__share-item {
    margin-bottom: 10px;
    opacity: 0;

    &:nth-child(4) {
      transform: translateY(60px);
    }

    &:nth-child(3) {
      transform: translateY(120px);
    }

    &:nth-child(2) {
      transform: translateY(180px);
    }

    &:nth-child(1) {
      transform: translateY(240px);
    }
  }
}

.b-main-screen__share-item {
  position: relative;
  width: 50px;
  height: 50px;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.09);
  background-color: $white;
  border-radius: 50%;
  transition: .3s ease-in-out all;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--icon {
    transition-delay: .3s;
    z-index: 10;
    background-color: transparent;
    box-shadow: none;

    @include bp($bp-ipad-1024) {
      box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.09);
      background-color: $white;
    }

    &:after {
      left: 54%;
      @include svg-ico-share;
    }
  }

  &--tw {
    &:after {
      @include svg-icon-twit;
    }
  }

  &--fb {
    &:after {
      @include svg-icon-fc;
    }
  }

  &--inst {
    &:after {
      @include svg-ico-inst;
    }
  }

  &--vk {
    &:after {
      @include svg-icon-vk;
    }
  }
}

.b-main-screen__share {
  bottom: auto;
  top: calc(100vh - 103px);

  @include bp($bp-ipad-1024) {
    bottom: 30px;
    top: auto;
  }
}