.b-home {
  position: relative;
}

.page--home {
  h2 {
    text-align: center;
  }
}

.b-home__img-face {
  padding-top: 64px;
  margin-left: 93px;

  @include bp($bp-ipad-1024) {
    padding-top: 50px;
    margin-left: 0;
    max-width: 484px;
  }

  @include bp($bp-540) {
    padding-top: 30px;
  }
}

.b-home__img-meat {
    margin-top: -93px;

  @include bp($bp-ipad-1024) {
    max-width: 336px;
  }

  @include bp($bp-640) {
    max-width: 100%;
  }

}

.b-home__img-meat--d {
  @include bp($bp-ipad-1024) {
    display: none;
  }
}



.b-home__img-meat--m {
  display: none;

  @include bp($bp-ipad-1024) {
    display: block;
    position: absolute;
    left: 0;
    top: 445px;
  }

  @include bp($bp-640) {
    position: static;
    margin-top: 0;
  }
}

.b-home__top-block {
  position: absolute;
  top: 112px;
  right: 30px;
  width: 460px;

  @include bp($bp-ipad-1024) {
    position: relative;
    top: 0;
    right: 0;
    margin-top: -208px;
    width: 100%;
  }

  @include bp($bp-540) {
    margin-top: -96px;
  }

  p {
    padding: 0 20px;

    @include bp($bp-ipad-1024) {
      padding: 0;
      padding-left: 373px;
    }

    @include bp($bp-640) {
      margin-top: 24px;
      padding-left: 0;
    }
  }

  & > img {
    margin: 0 auto -5px;

    @include bp($bp-ipad-1024) {
      max-width: 259px;
      margin-left: auto;
      margin-right: 0;
    }

    @include bp($bp-540) {
      max-width: 108px;
    }
  }
}

.b-home__top-img {
  width: 460px;
  height: 90px;
  background-color: #df2604;
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    width: 100%;
    margin-bottom: 30px;
  }

  @include bp($bp-640) {
    margin-bottom: 20px;
  }

  @include bp($bp-480) {
    height: 189px;
  }

}

.b-home__top-title  {
  padding-top: 21px;
  font-family: $Intro;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: $white;
  text-transform: uppercase;
  text-align: center;

  @include bp($bp-480) {
    width: 240px;
    margin: 0 auto;
    line-height: 24px;
  }
}

.b-home__top-sub-title {
  margin-top: 11px;
  font-family: $Intro;
  font-size: 31px;
  font-weight: bold;
  line-height: 20px;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .4px;

  @include bp($bp-480) {
    width: 240px;
    margin: 10px auto 0;
    line-height: 32px;
  }
}

.b-target__text {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: $black;

  @include bp($bp-640) {
    text-align: justify;
    font-size: 14px;
    line-height: 24px;
  }
}

.b-principle {
  border: solid 2px $black;
  padding-top: 40px;
  margin-bottom: 60px;

  @include bp($bp-ipad-768) {
    margin-bottom: 30px;
  }

  @include bp($bp-640) {
    padding-top: 30px;
    margin-bottom: 40px;
  }

  h2 {
    line-height: 42px;
    @include bp($bp-640) {
      line-height: 26px;
    }
  }
}

.b-principle__slider {
  margin-top: 26px;
  margin-bottom: 38px;
  padding: 0 35px;

  @include bp($bp-540) {
    padding: 0 0 40px;
  }

  .slick-arrow {
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 200;
    width: 21px;
    height: 28px;

    @include bp($bp-540) {
      top: auto;
      bottom: -12px;
      left: 0;
      right: 0;
    }

    &:before {
      display: none;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include svg-ico-arrow-down;
    }
  }

  .slick-prev {
    transform: rotate(90deg);
    left: 24px;

    @include bp($bp-540) {
      left: -60px;
    }
  }

  .slick-next {
    right: 24px;
    transform: rotate(-90deg);

    @include bp($bp-540) {
      right: -60px;
    }
  }
}

.b-principle__slider-item {
  img {
    margin: 0 auto 20px;
  }
  p {
    line-height: 24px;
    text-align: center;
  }
}


.b-ability {
  margin-bottom: 80px;

  @include bp($bp-ipad-768) {
    margin-bottom: 60px;
  }

  @include bp($bp-640) {
    margin-bottom: 40px;
  }

  h2 {
    margin-bottom: 40px;
    line-height: 42px;

    @include bp($bp-ipad-768) {
      margin-bottom: 29px;
    }

    @include bp($bp-640) {
      line-height: 26px;
      margin-bottom: 30px;
    }
  }
}

.b-ability__block {
  display: flex;
  flex-wrap: wrap;
}

.b-ability__left {
  width: 50%;
  display: flex;
  padding-right: 30px;

  @include bp($bp-ipad-768) {
    width: 100%;
    padding-right: 0;
  }
}

.b-ability__left-img {
  position: relative;

  img {
    &:nth-child(1) {
      max-width: 529px;

      @include bp($bp-ipad-1024) {
        max-width: 100%;
      }
    }

    &:nth-child(2) {
      position: absolute;
      right: -70px;
      bottom: 20px;

      @include bp($bp-ipad-1024) {
        width: 79px;
        height: 76px;
        right: -30px;
      }

      @include bp($bp-ipad-768) {
        width: 136px;
        height: 131px;
        right: -16px;
        bottom: -16px;
      }

      @include bp($bp-640) {
        width: 79px;
        height: 76px;
      }
    }
  }
}

.b-ability__right {
  width: 50%;
  padding-left: 10px;

  @include bp($bp-ipad-768) {
    width: 100%;
    padding-left: 0;
    margin-top: 40px;
  }

  @include bp($bp-640) {
    margin-top: 30px;
  }

  p {
    max-width: 530px;

    @include bp($bp-ipad-768) {
      max-width: 100%;
    }
  }
}

.b-target__text {
  display: flex;
  p {
    width: 50%;
  }
}

.b-target__text--two {
  max-width: 962px;
  margin: 0 auto 78px;
  display: flex;
  justify-content: space-between;

  @include bp($bp-ipad-1024) {
    max-width: 700px;
  }

  @include bp($bp-ipad-768) {
    margin-bottom: 30px;
  }

  @include bp($bp-720) {
    flex-wrap: wrap;
  }

  p {
    width: 420px;

    @include bp($bp-ipad-1024) {
      width: 330px;
    }

    @include bp($bp-720) {
      width: 100%;

      &:last-child {
        margin-top: 10px;
      }
    }
  }
}

.b-target__team {
  margin-bottom: 50px;

  @include bp($bp-ipad-768) {
    margin-bottom: 30px;
  }

  img {
    margin: 0 auto;
  }
}

.button {
  display: block;
  margin: 0 auto 60px;
  width: 200px;
  height: 60px;
  border: solid 2px $black;
  font-size: 16px;
  line-height: 56px;
  text-align: center;
  transition: .3s ease-in-out all;

  @include bp($bp-640) {
    margin-bottom: 40px;
  }

  @include bp($bp-375) {
    width: 100%;
  }

  &:hover {
    color: #df2604;
    border-color: #df2604;
  }
}

.b-target--map {
  .b-target__title {
    margin-bottom: 50px;

    @include bp($bp-ipad-768) {
      margin-bottom: 30px;
    }
  }

  p {
    max-width: 432px;
    margin: 0 auto;
    text-align: center;

    @include bp($bp-360) {
      text-align: justify;
    }
  }
}

.b-target__title {
  position: relative;
  display: flex;
  align-items: center;

  h2 {
    margin: 0 20px;
    flex-shrink: 0;
  }
}

.b-target__line {
  flex-grow: 1;
  height: 2px;
  background-color: $black;
}

.b-target--target {
  margin-top: 80px;

  @include bp($bp-640) {
    margin-top: 40px;
  }
  
  .b-target__title {
    margin-bottom: 60px;

    @include bp($bp-ipad-768) {
      margin-bottom: 30px;
    }

    @include bp($bp-640) {
      margin-bottom: 30px;
    }
  }

  .b-target__text {
    max-width: 640px;
    margin: 0 auto 60px;

    @include bp($bp-ipad-768) {
      margin-bottom: 50px;
    }

    @include bp($bp-640) {
      margin-bottom: 30px;
    }
  }
}

.b-target--work {
  .b-target__title {
    margin-bottom: 60px;

    @include bp($bp-ipad-768) {
      margin-bottom: 30px;
    }

    @include bp($bp-640) {
      margin-bottom: 20px;
    }
  }
}

.b-target__map {
  position: relative;
  margin-bottom: 22px;

  @include bp($bp-640) {
    margin-bottom: 32px;
  }

  img {
    margin-top: -88px;

    @include bp($bp-ipad-1024) {
      margin-top: 20px;
    }
  }
}

.b-target__map--d {
  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.b-target__map--m {
  display: none;
  @include bp($bp-ipad-1024) {
    display: block;
  }
}