mixin field-input(title, placeholder, ...icons)
    .field
        .field__title
            h3= title
            -if(icons)
                .field__title-buttons
                    each icon in icons
                        a(href=`#popup-${icon}`).button-icon(class=`button-icon--${icon}`).js-show-popup

        .field__box
            input(type='text' placeholder=placeholder)
mixin scr-sh
    .b-main-screen__scroll.js-scroll-id Крути колесо
    .b-main-screen__share
        .b-main-screen__share-item.b-main-screen__share-item--icon
        .b-main-screen__share-list
            .b-main-screen__share-item.b-main-screen__share-item--tw
            .b-main-screen__share-item.b-main-screen__share-item--fb
            .b-main-screen__share-item.b-main-screen__share-item--inst
            .b-main-screen__share-item.b-main-screen__share-item--vk

