extends _layout-404

block title
    title 404
block content
    .page.page--404
        .b-error
            .b-error__center
                .b-error__img
                    img(src='./images/404.png' alt='')
                .b-error__title
                    span Ошибка
                    span Хьюстон, у нас проблемы
                    span Разбит, но не сломлен
                    span Хотели как лучше..
                    span Вместе мы горы свернём! Ну, или дров наломаем…
                    span Меня постоянно преследуют умные мысли но я быстрее

                .b-error__desc Неправильно набран адрес или такой страницы на&nbsp;сайте больше не&nbsp;существует.
                a(href='').b-error__link Перейти на главную




