include mixins/_all-mixins
doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(name="format-detection" content="telephone=no")
        link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap&subset=cyrillic-ext" rel="stylesheet")
        link(rel="shortcut icon" type="image/png" href="")
        link(rel='stylesheet' href="./css/style.css?v-5")
        script.
          let vh = window.innerHeight * 0.01;
          document.documentElement.style.setProperty('--vh', `${vh}px`);

        block title
            title Заголовок по умолчанию
    body
        .b-header
            .container
                .b-header__wrap
                    .b-header__logo
                    .b-header__menu
                        a(href='').b-header__menu-item.b-header__menu-item--main.active Главная
                        a(href='').b-header__menu-item Сотрудники
                        a(href='').b-header__menu-item.b-header__menu-item--lang.b-header__menu-item--mobile En
                        a(href='').b-header__menu-item.b-header__menu-item--lang Ru

                .b-header__img-title
                    img(src='./images/home/home_title.png')

        block content


        .b-footer
            .container
                .b-footer__wrap
                    .b-footer__copy 2020 © ООО «ШЕФ». Все права защищены.
                    .b-footer__link Design  -
                        = ' '
                        a(href='http://mahaev.com/' target='_blank') Mahaev Nikita


    script(src="./js/bundle.js?v-5")

