extends _layout

block title
    title Main
block content
    .page.page--home
        .container
            .b-home
                .b-home__img-face
                    img(src='./images/home/home_face.png')

                .b-home__top-block
                    img(src='./images/home/home_top_people.png')
                    .b-home__top-img
                        .b-home__top-title Создадим в нашей стране изобилие
                        .b-home__top-sub-title МЯСА, молоко и масла!

                    .b-home__img-meat.b-home__img-meat--m
                        img(src='./images/home/home_top_meat.png')
                    p.justify Ленин и Сталин, благодаря гению которых создавалась советская цивилизация и ковались её блестящие победы, подают нам пример великой мудрости и самоотверженности. Их выдающиеся завоевания вдохновляют ШЕФ Технологии на новаторские решения в производстве функциональных ингредиентов и специй для переработки мяса и молока.


                .b-home__img-meat.b-home__img-meat--d
                    img(src='./images/home/home_top_meat.png')

            .b-target.b-target--target
                .b-target__title
                    .b-target__line
                    h2 наши цели
                    .b-target__line

                .b-target__text Передовая мысль ШЕФ технологии меняет представления о&nbsp;производстве продуктов питания. Благодаря рациональному использованию навыков и&nbsp;производственного опыта компания завоевывает новые победы в&nbsp;развитии пищевой промышленности, достигает все новых и&nbsp;новых успехов на&nbsp;пути создания изобилия продуктов питания.

            .b-principle
                h2 Наши
                    br
                    | принципы
                .b-principle__slider.js-slider-home
                    .b-principle__slider-item
                        img(src='./images/home/home_pr_1.png')
                        p Дисциплина
                            br
                            | и самоорганизация
                    .b-principle__slider-item
                        img(src='./images/home/home_pr_2.png')
                        p Сила
                            br
                            | и уверенность
                    .b-principle__slider-item
                        img(src='./images/home/home_pr_3.png')
                        p Непримиримая война
                            br
                            | с невежеством
                    .b-principle__slider-item
                        img(src='./images/home/home_pr_4.png')
                        p Культурно торговать –
                            br
                            | почетный труд
                    .b-principle__slider-item
                        img(src='./images/home/home_pr_5.png')
                        p На работу – с радостью,
                            br
                            | а с работы — с гордостью!
                    .b-principle__slider-item
                        img(src='./images/home/home_pr_6.png')
                        p Всё ради человека,
                            br
                            | всё на благо человека



            .b-ability
                h2 Наши
                    br
                    | возможности
                .b-ability__block
                    .b-ability__left
                        .b-ability__left-img
                            img(src='./images/home/home_bw.png')
                            img(src='./images/home/home_shef-logo.png')

                    .b-ability__right
                        p.justify Говоря о перспективах научной работы мы должны помнить, что сейчас мы переживаем такой размах, который позволит повысить качество советской продукции, обеспечив комбинаты пищевой промышленности передовыми технологиями. Значительное расширение международных связей, рациональное использование навыков и производственного опыта развивает дальнейшее движение вперед команды передовиков Шеф Технологии.





            .b-target.b-target--work
                .b-target__title
                    .b-target__line
                    h2 Работа с нами
                    .b-target__line

                .b-target__text.b-target__text--two
                    p.justify Говоря о перспективах научной работы мы должны помнить, что сейчас мы переживаем такой размах, который позволит повысить качество советской продукции, обеспечив комбинаты пищевой промышленности передовыми технологиями.
                    p.justify Значительное расширение международных связей, рациональное использование навыков и производственного опыта развивает дальнейшее движение вперед команды передовиков Шеф Технологии.
                .b-target__team
                    img(src='./images/home/home__team.png')


            a(href='').button Дай качестВО!

            .b-target.b-target--map
                .b-target__title
                    .b-target__line
                    h2 Контакты
                    .b-target__line

                p Понокровная и довольо разветленная система представительств Шеф технологий на всей территории нашей необъятной Родины.

                .b-target__map.b-target__map--m
                    img(src='./images/home/home_map@2x.png')
                .b-target__map.b-target__map--d
                    .map-dot.map-dot--lg.map-dot--kirgiz(data-city='kirgiz')
                        <svg xmlns="http://www.w3.org/2000/svg" width="54" height="49" viewBox="0 0 54 49">
                        <path fill-opacity="0" fill="#FCD116" stroke="#FCD116" stroke-width="3" d="M27.327 4.752L21.82 19.875H4.94l13.438 8.99-5.063 16.462 14.148-9.716 14.147 9.716-5.054-16.433 12.732-9.019H31.885L27.327 4.752z"/>
                        </svg>
                        .map-tooltip
                            .map-tooltip__title Киргизия

                    .map-dot.map-dot--lg.map-dot--uzbek(data-city='uzbek')
                        <svg xmlns="http://www.w3.org/2000/svg" width="54" height="49" viewBox="0 0 54 49">
                        <path fill-opacity="0" fill="#FCD116" stroke="#FCD116" stroke-width="3" d="M27.327 4.752L21.82 19.875H4.94l13.438 8.99-5.063 16.462 14.148-9.716 14.147 9.716-5.054-16.433 12.732-9.019H31.885L27.327 4.752z"/>
                        </svg>
                        .map-tooltip
                            .map-tooltip__title Узбекистан
                    .map-dot.map-dot--lg.map-dot--bel(data-city='bel')
                        <svg xmlns="http://www.w3.org/2000/svg" width="54" height="49" viewBox="0 0 54 49">
                        <path fill-opacity="0" fill="#FCD116" stroke="#FCD116" stroke-width="3" d="M27.327 4.752L21.82 19.875H4.94l13.438 8.99-5.063 16.462 14.148-9.716 14.147 9.716-5.054-16.433 12.732-9.019H31.885L27.327 4.752z"/>
                        </svg>
                        .map-tooltip
                            .map-tooltip__title Беларусь
                    .map-dot.map-dot--lg.map-dot--ukra(data-city='ukra')
                        <svg xmlns="http://www.w3.org/2000/svg" width="54" height="49" viewBox="0 0 54 49">
                        <path fill-opacity="0" fill="#FCD116" stroke="#FCD116" stroke-width="3" d="M27.327 4.752L21.82 19.875H4.94l13.438 8.99-5.063 16.462 14.148-9.716 14.147 9.716-5.054-16.433 12.732-9.019H31.885L27.327 4.752z"/>
                        </svg>
                        .map-tooltip
                            .map-tooltip__title Украина




                    .map-dot.map-dot--msk(data-city='msk')
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="31" viewBox="0 0 34 31">
                            <path fill-opacity="0" fill="#FCD116" stroke="#FCD116" stroke-width="3" d="M17.156 4.773l-3.027 8.352H4.92l7.301 4.908-2.841 9.284 7.91-5.459 7.912 5.46-2.833-9.256 6.937-4.937h-9.644l-2.506-8.352z"/>
                        </svg>
                        .map-tooltip
                            .map-tooltip__title Москва

                    .map-dot.map-dot--sntp(data-city='sntp')
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="31" viewBox="0 0 34 31">
                            <path fill-opacity="0" fill="#FCD116" stroke="#FCD116" stroke-width="3" d="M17.156 4.773l-3.027 8.352H4.92l7.301 4.908-2.841 9.284 7.91-5.459 7.912 5.46-2.833-9.256 6.937-4.937h-9.644l-2.506-8.352z"/>
                        </svg>
                        .map-tooltip
                            .map-tooltip__title Санкт-Петербург

                    .map-dot.map-dot--chel(data-city='chel')
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="31" viewBox="0 0 34 31">
                            <path fill-opacity="0" fill="#FCD116" stroke="#FCD116" stroke-width="3" d="M17.156 4.773l-3.027 8.352H4.92l7.301 4.908-2.841 9.284 7.91-5.459 7.912 5.46-2.833-9.256 6.937-4.937h-9.644l-2.506-8.352z"/>
                        </svg>
                        .map-tooltip
                            .map-tooltip__title Челябинск
                    .map-dot.map-dot--brn(data-city='brn')
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="31" viewBox="0 0 34 31">
                            <path fill-opacity="0" fill="#FCD116" stroke="#FCD116" stroke-width="3" d="M17.156 4.773l-3.027 8.352H4.92l7.301 4.908-2.841 9.284 7.91-5.459 7.912 5.46-2.833-9.256 6.937-4.937h-9.644l-2.506-8.352z"/>
                        </svg>
                        .map-tooltip
                            .map-tooltip__title Барнаул
                    .map-dot.map-dot--ishev(data-city='ishev')
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="31" viewBox="0 0 34 31">
                            <path fill-opacity="0" fill="#FCD116" stroke="#FCD116" stroke-width="3" d="M17.156 4.773l-3.027 8.352H4.92l7.301 4.908-2.841 9.284 7.91-5.459 7.912 5.46-2.833-9.256 6.937-4.937h-9.644l-2.506-8.352z"/>
                        </svg>
                        .map-tooltip
                            .map-tooltip__title Ижевск
                    .map-dot.map-dot--krsn(data-city='krsn')
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="31" viewBox="0 0 34 31">
                            <path fill-opacity="0" fill="#FCD116" stroke="#FCD116" stroke-width="3" d="M17.156 4.773l-3.027 8.352H4.92l7.301 4.908-2.841 9.284 7.91-5.459 7.912 5.46-2.833-9.256 6.937-4.937h-9.644l-2.506-8.352z"/>
                        </svg>
                        .map-tooltip
                            .map-tooltip__title Красноярск
                    .map-dot.map-dot--nsk(data-city='nsk')
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="31" viewBox="0 0 34 31">
                            <path fill-opacity="0" fill="#FCD116" stroke="#FCD116" stroke-width="3" d="M17.156 4.773l-3.027 8.352H4.92l7.301 4.908-2.841 9.284 7.91-5.459 7.912 5.46-2.833-9.256 6.937-4.937h-9.644l-2.506-8.352z"/>
                        </svg>
                        .map-tooltip
                            .map-tooltip__title Новосибирск

                    .map-dot.map-dot--smol(data-city='smol')
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="31" viewBox="0 0 34 31">
                            <path fill-opacity="0" fill="#FCD116" stroke="#FCD116" stroke-width="3" d="M17.156 4.773l-3.027 8.352H4.92l7.301 4.908-2.841 9.284 7.91-5.459 7.912 5.46-2.833-9.256 6.937-4.937h-9.644l-2.506-8.352z"/>
                        </svg>
                        .map-tooltip
                            .map-tooltip__title Смоленск

                    .map-dot.map-dot--vladivostok(data-city='vladivostok')
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="31" viewBox="0 0 34 31">
                            <path fill-opacity="0" fill="#FCD116" stroke="#FCD116" stroke-width="3" d="M17.156 4.773l-3.027 8.352H4.92l7.301 4.908-2.841 9.284 7.91-5.459 7.912 5.46-2.833-9.256 6.937-4.937h-9.644l-2.506-8.352z"/>
                        </svg>
                        .map-tooltip
                            .map-tooltip__title Владивосток

                    .map-dot.map-dot--samar(data-city='samar')
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="31" viewBox="0 0 34 31">
                            <path fill-opacity="0" fill="#FCD116" stroke="#FCD116" stroke-width="3" d="M17.156 4.773l-3.027 8.352H4.92l7.301 4.908-2.841 9.284 7.91-5.459 7.912 5.46-2.833-9.256 6.937-4.937h-9.644l-2.506-8.352z"/>
                        </svg>
                        .map-tooltip
                            .map-tooltip__title Самара

                    .map-dot.map-dot--vladimir(data-city='vladimir')
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="31" viewBox="0 0 34 31">
                            <path fill-opacity="0" fill="#FCD116" stroke="#FCD116" stroke-width="3" d="M17.156 4.773l-3.027 8.352H4.92l7.301 4.908-2.841 9.284 7.91-5.459 7.912 5.46-2.833-9.256 6.937-4.937h-9.644l-2.506-8.352z"/>
                        </svg>
                        .map-tooltip
                            .map-tooltip__title Владимир

                    .map-dot.map-dot--kalin(data-city='kalin')
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="31" viewBox="0 0 34 31">
                            <path fill-opacity="0" fill="#FCD116" stroke="#FCD116" stroke-width="3" d="M17.156 4.773l-3.027 8.352H4.92l7.301 4.908-2.841 9.284 7.91-5.459 7.912 5.46-2.833-9.256 6.937-4.937h-9.644l-2.506-8.352z"/>
                        </svg>
                        .map-tooltip
                            .map-tooltip__title Калининград

                    img(src='./images/home/home_map.png')







