extends _layout

block title
    title Staff
block content
    .page
        .b-team__banner
            img(src='./images/team/banner.png')
        .b-team
            .b-team__item.poster-3d
                .b-team__item-img(data-offset="7")
                    img(src='./images/team/1@2x.png' alt='')
                .b-team__item-title
                    .b-team__item-name Дмитрий Шефов
                    .b-team__item-position Директор
            .b-team__item.poster-3d
                .pepper.pepper-3
                .b-team__item-img(data-offset="7")
                    img(src='./images/team/2@2x.png' alt='')
                .b-team__item-title
                    .b-team__item-name Елена Карлова
                    .b-team__item-position Главный технолог
            .b-team__item.poster-3d
                .b-team__item-img(data-offset="7")
                    img(src='./images/team/3@2x.png' alt='')
                .b-team__item-title
                    .b-team__item-name Долорес Бурулова
                    .b-team__item-position Директор по развитию бизнеса

            .b-team__item.poster-3d
                .pepper.pepper-2.parallax-6
                .b-team__item-img(data-offset="7")
                    img(src='./images/team/4@2x.png' alt='')
                .b-team__item-title
                    .b-team__item-name Дмитрий Дронин
                    .b-team__item-position Региональный директор
            .b-team__item.poster-3d
                .b-team__item-img(data-offset="7")
                    img(src='./images/team/5@2x.png' alt='')
                .b-team__item-title
                    .b-team__item-name Александр Балашов
                    .b-team__item-position Руководитель направления SHEF Lab
            .b-team__item.poster-3d
                .pepper.pepper-4.parallax-6
                .b-team__item-img(data-offset="7")
                    img(src='./images/team/6@2x.png' alt='')
                .b-team__item-title
                    .b-team__item-name Михаил Ворона
                    .b-team__item-position Руководитель направления SHEF Lab








