body {
  font-family: $RobotoSlab;
  color: $black;
  position: relative;
  min-width: 320px;
  background-image: url("../images/bg.jpg");
  background-size: contain;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: calc(1300px + 20px*2);
  padding: 0 20px;
  margin: 0 auto;

  @include bp($bp-ipad-768) {
    padding: 0 34px;
  }

  @include bp($bp-540) {
    padding: 0 20px;
  }
}

.page {
  position: relative;
}

h2 {
  font-size: 34px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;

  @include bp($bp-640) {
    font-size: 24px;
  }
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  margin-bottom: 0;

  &.justify {
    text-align: justify;
  }

  @include bp($bp-640) {
    font-size: 14px;
    line-height: 24px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
