$Lato: 'Lato', sans-serif;
$RobotoSlab: 'Roboto Slab', serif;
$Intro: 'Intro Book', sans-serif;
$Intro-Alt: 'Intro Book Alt', sans-serif;

//color
$white: #fff;
$black: #000;

$black-two: #121212;
$pale: #ebe8de;
$leaf: #df2604;
$very-light-pink: #dadcf0;

// gradient
$pale-grey: #f3fafe;
$off-white: #e7e9f7;


$macaroni-and-cheese: #f2b134;
$macaroni-and-cheese30: rgba(242, 177, 52, .3);
